
<div class="vh-100 vw-100 home-img d-flex justify-content-center align-items-center">
     <div>
      <div class="text-center">
        <h1>{{data.name}}</h1>
        <h3>{{data.email}}</h3>
      </div>
      <a href="./logout" class="btn btn-danger">logout</a>

     </div>

</div>

